<!DOCTYPE html>
<html lang = "en" xmlns = "http://www.thymeleaf.org">
<head>
    <!-- TO DO: Create a new CSS File-->
    <link rel = "stylesheet" type = "text/css" href = "/css/recipe.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <h1>Create a Recipe</h1>
    </nav>

    <div class = "container">
        <a th:href = "@{/home}">Go back Home</a>
    </div>
    
    <form th:action = "@{/recipe}" th:object = "${recipeRequest}" method = "post">
        <div class = "message" th:if = "${error}">
            <p th:text = "${error}"></p>
        </div>

        <div class = "box">
            <input type = "text" class = "text_input" id = "title" th:field = "*{title}" placeholder = "Title">
        </div>

        <div class = "box">
            <input type = "text" class = "text_input" id = "description" th:field = "*{description}" placeholder = "Description">
        </div>

        <div class = "box">
            <h2>Recipe Type:</h2>

            <select th:field = "*{recipeType}">
                <option th:each = "type : ${recipeType}" th:value = "${type.name()}" th:text = "${type.name()}"></option>
            </select>
        </div>
        
        <!-- Dynamic Ingredient Section -->
        <!-- Text inputs are retrieved via Javascript and @RequestParam from RecipeCreationController -->
        <div class = "box">
            <h2>Ingredients: </h2>
            <div class = "ingredient_row">
                <input type = "number" class = "text_input" id = "amount_input" min = "1" max = "1000" placeholder = "Amount">

                <select id = "unit_select">
                    <option disabled selected value = "">-- Select --</option>
                    <option value = "custom">Custom Unit</option>
                    <option th:each = "unit : ${units}" th:value = "${unit}" th:text = "${unit}"></option>
                </select>
                
                <input type = "text" class = "text_input" id = "ingredient_text" placeholder = "Ingredient">
            </div>


            <button type = "button" class = "btn" id = "createIngredient">Create Ingredient</button>
            
            <ul id = "ingredient_container"></ul>
        </div>
        
        <!-- Dynamic Instruction Section -->
        <!-- Text inputs are retrieved via Javascript and @RequestParam from RecipeCreationController -->
        <div class = "box">
            <h2>Instructions: </h2>

            <input type = "text" class = "text_input" id = "step_text">

            <button type = "button" class = "btn" id = "createInstruction">Create Instructions</button>

            <ol id = "instruction_container"></ol>
        </div>

        <input type = "submit" id = "submit" placeholder = "Submit">
    </form>
    <script src = "/javascript/createTextInput.js"></script>
</body>
</html>