<!DOCTYPE html>
<html lang = "en" xmlns = "http://www.thymeleaf.org">
<head>
    <!-- TO DO: Create a new CSS File-->
    <link rel = "stylesheet" type = "text/css" href = "/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div th:object = "${recipe}">
        <h1 th:text = "${title}"></h1>

        <div class = "container">
            <p th:text = "${description}"></p>
        </div>

        <!-- Insert Thymeleaf each for both ingredient and instructions -->
        <div class = "container">
            <h2>INGREDIENT</h2>
        </div>

        <div class = "container">
            <h2>INSTRUCTIONS</h2>>
        </div>


    </div>
</body>
</html>