<!DOCTYPE html>
<html lang = "en" xmlns = "http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- TO DO: Create a new CSS File-->
    <link rel = "stylesheet" type = "text/css" href = "/css/genericRecipe.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <h1 th:text = "${title}"></h1>
    
    <div sec:authorize = "isAuthenticated()" class = "container">
        <a th:href = "@{/home}">Go back Home</a>
    </div>

    <div sec:authorize = "!isAuthenticated()" class = "container">
        <a th:href = "@{/}">Go back Menu</a>
    </div>

    <div class = "container">
        <div class = "message" th:if = "${empty}">
            <h2 th:text = "${empty}"></h2>
        </div>
    </div>
    <!-- Note: a different font for the rating-->
    <div class = "container" id = "recipe_container">
        <div class = "post" th:each = "recipe : ${recipes}" th:object = "${recipe}">
            <a th:href = "@{'/recipe/id=' + *{id}}">
                <div class = "box_post">
                    <p th:text = "*{user.username}"></p>
                </div>
                <div class = "box_post">
                    <h3 th:text = "*{title}"></h3>
                </div>
                <div class = "box_post">
                    <p th:text = "*{description}"></p>
                </div>
                <div class = "box_post" id = "average_rating">
                    <!-- Java cannot handle 0 / 0. So we will manually insert it ourselves -->
                    <p th:text = "*{(numOfRating == 0) ? 0 : #numbers.formatDecimal(ratingSum / numOfRating, 1, 1)} + ' / 10, ' + *{numOfRating}"></p>
                </div>
            </a>
        </div>
    </div>

</body>
</html>