* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}


/* TEXTS */
h1, h2, h3 {
    font-family: "Merriweather", sans-serif;
    font-weight: bolder;
}

p, a, input {
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
}

h1 {
    font-size: 12rem;
    color: black;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 5rem;
}

a {
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: white;
    transition: 0.3s;
}


/* BODY */
body {
    background-color: lavenderblush
}

.box {
    width: 80%;
    margin: auto;
    padding: 4rem 0;
}


/* BOXES, CONTAINERS */
.box_h1 {
    display: flex;
    align-items: center;
}

#recipe_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3rem;
    padding: 1rem;
    background-color: mistyrose;
    border-radius: 0.3rem;
    border-style: solid;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    background-color: burlywood;
}

.nav_container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

#nav_special {
    justify-content: end;
}

/* RECIPES */
.img_container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 5%;
}

.img_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 2;
    width: 35rem;
}

img {
    aspect-ratio: 1 / 1;
    width: 30rem;
    margin-bottom: 4rem;
}

#appetizer {
    background-color: azure;
}

#meal {
    background-color: aliceblue;
}

#dessert {
    background-color: honeydew;
}

#drink {
    background-color: cornsilk;
}