/* CSS RESET */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}


/* TEXTS */
h1, h2 {
    font-family: "Merriweather", sans-serif;
    font-weight: bolder;
}

p, a, input {
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
}

h1 {
    font-size: 12rem;
    color: white;
}

h2 {
    font-size: 5rem;
}

li {
    padding: 0 1.5rem;
}

a {
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: white;
    transition: 0.3s;
}


/* BODY */
body {
    background-color: lavenderblush
}


/* boxs AND CONTAINERS */
.box {
    height: 100vh;
    width: 80%;
    margin: auto;
    padding: 4rem 0;
}

.box-h2 {
    padding-bottom: 3rem;
}


/* NAV */
nav {
    width: 100%;
    background-color: lavenderblush;
    padding: 4.5rem 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* BANNER */
#banner {
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    
    display: flex;
    justify-content: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/burger-banner.jpg");
    background-position: center;
    background-size: cover;
}

.box-h1 {
    text-align: center;
    padding: 5%;
}

#sub-header {
    color: white;
}


/* RECIPES */
.img-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 10%;
}

.img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 2;
    width: 35rem;
}

img {
    aspect-ratio: 1 / 1;
    width: 30rem;
    margin-bottom: 4rem;
}

#appetizer {
    background-color: azure;
}

#meal {
    background-color: aliceblue;
}

#dessert {
    background-color: honeydew;
}

#drink {
    background-color: cornsilk;
}

/* ABOUT */
/* REGISTRATION */
.btn-container {
    display: flex;
    margin-top: 2rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 3 / 1;
    width: 35rem;
}

.btn:hover {
    cursor: pointer;
}

#sign-up {
    background-color: chocolate;
    margin-right: 2rem;
}

#login {
    background-color: cornflowerblue;
}


/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    background-color: lightgray;
}


/* REGISTRATION FORM */
.form-container {
    width: 50%;
    margin: auto;
}

.input-container {
    display: flex;
    margin-bottom: 2rem;
}

input {
    border-style: none;
    width: 100%;
    padding: 1.5rem;
}

.form-h1 h1 {
    text-align: center;
    color: black;
    margin-bottom: 10rem;
}

#username, #fName, #email {
    margin-right: 2rem;
}

/* MESSAGE */
.message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.8rem;
    background-color: cornflowerblue;
    margin-bottom: 1.6rem;
}