<!DOCTYPE html>
<html lang = "en" xmlns = "http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel = "stylesheet" type = "text/css" href = "/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class = "nav-container">
            <div class = "nav-box">
                <a th:href = "@{/home/createdRecipes}">View Your Created Recipes</a>
            </div>
            <!-- Admins and Managers can view all users -->
            <!-- Admins can also delete users and comments except for admins and manager roles -->
            <!-- Managers can delete anything (except managers) -->
            <!-- The ability to delete will be shown within the View All Users page. -->
            <div class = "nav-box" sec:authorize = "hasAnyRole('ADMIN', 'MANAGER')">
                <a th:href = "@{home/getAllUsers}">View All Users</a>
            </div>
        </div>
        <div class = "nav-container" id = "nav-special">
            <div class = "nav-box">
                <a href = "javascript: document.logoutForm.submit()">Logout</a>
                <form name = "logoutForm" th:action = "@{/logout}" method = "post" style = "display: none;">
                    <input type = "submit" style = "display: none;">
                </form>
            </div>
        </div>

    </nav>

    <div class = "box-h1">
        <h1>Home Page</h1>
    </div>
    

    <div class = "box">
        <p>To create a recipe, click on the button</p>
        <a th:href = "@{home/recipe}">Create a Recipe here</a>
    </div>

    <div class = "box">
        <p>View the Recipes created by others here</p>
        <div class = "img-container">
            <a th:href = "@{/home/appetizer}">
                <div class = "img-box" id = "appetizer">
                    <img src = "img/appetizer-icon.png" alt = "Appetizer-icon">
                    <h2>Appetizer</h2>
                </div>
            </a>
            
            <a th:href = "@{/home/meal}">
                <div class = "img-box" id = "meal">
                    <img src = "img/meal-icon.png" alt = "Meal-icon">
                    <h2>Meals</h2>
                </div>
            </a>

            <a th:href = "@{/home/dessert}">
                <div class = "img-box" id = "dessert">
                    <img src = "img/dessert-icon.png" alt = "Dessert-icon">
                    <h2>Deserts</h2>
                </div>
            </a>

            <a th:href = "@{/home/drink}">
                <div class = "img-box" id = "drink">
                    <img src = "img/drink-icon.png" alt = "Drink-icon">
                    <h2>Drinks</h2>
                </div>
            </a>
        </div>
    </div>
</body>
</html>