<!DOCTYPE html>
<html lang = "en" xmlns = "http://www.thymeleaf.org">
<head>
    <link rel = "stylesheet" href = "css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <div class = "form-h1">
        <h1>Login Page</h1>
    </div>

    <div class = "form-container">
        <div class = "message" th:if = "${logout}">
            <p>You have successfully logged out</p>
        </div>

        <div class = "message" th:if = "${error}">
            <p>Incorrect Email or Password</p>
        </div>

        <form th:action = "@{/login}" th:object = "${userRequest}" method = "post" >
            <!-- If the Email already exists within the database, use Thymeleaf to notify the client. -->
            <div class = "input-container">
                <!-- Very important to put name = "username" instead of "email" because UserDetails. -->
                <input type = "text" id = "username" name = "username" placeholder = "Email">
                <input type = "password" id = "password" name = "password" placeholder = "Password">
            </div>
            
            <div class = "input-container">
                <input type = "submit" class = "btn">
            </div>
        </form>

        <div class = "box-p"><p>Need to create an account? <a th:href = "@{register}">Sign in</a></p></div>
        <div class = "box-p"><a th:href = "@{/}">Go Back</a></div>
    </div>
</body>
</html>