<!DOCTYPE html>
<html lang = "en" xmlns = "http://www.thymeleaf.org">
<head>
    <link rel = "stylesheet" type = "text/css" href = "/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<!-- This is a really cool design. -->
<!-- https://www.seaharvest.net.au/ -->
<body>
    <nav>
        <ul>
            <a onclick = "showSection('about')"><li>About</li></a>
            <a onclick = "showSection('recipe')"><li>Recipe</li></a>
            <a onclick = "showSection('registration')"><li>Registration</li></a>
        </ul>
    </nav>

     <div class = "box" id = "banner">
        <div class = "box-h1">
            <h1>CookCraft</h1>
            <h2 id = "sub-header">Trust me, I know what I'm doing</h2>
        </div>
     </div>


     <div class = "box" id = "recipe">
        <div class = "box-h2">
            <h2>Recipes</h2>
        </div>

        <div class = "box-p">
            <p>There are 4 types of food CookCraft presents to the viewers: Meals (Breakfast, Lunch or Dinner), Appetizers, Deserts, or Drinks (Can contain alcohol).</p>
        </div>

        <div class = "img-container">
            <a th:href = "@{/home/appetizer}">
                <div class = "img-box" id = "appetizer">
                    <img src = "img/appetizer-icon.png" alt = "Appetizer-icon">
                    <h2>Appetizer</h2>
                </div>
            </a>

            <a th:href = "@{/home/meal}">
                <div class = "img-box" id = "meal">
                    <img src = "img/meal-icon.png" alt = "Meal-icon">
                    <h2>Meals</h2>
                </div>
            </a>

            <a th:href = "@{/home/dessert}">
                <div class = "img-box" id = "dessert">
                    <img src = "img/dessert-icon.png" alt = "Dessert-icon">
                    <h2>Deserts</h2>
                </div>
            </a>

            <a th:href = "@{/home/drink}">
                <div class = "img-box" id = "drink">
                    <img src = "img/drink-icon.png" alt = "Drink-icon">
                    <h2>Drinks</h2>
                </div>
            </a>

        </div>
    </div>

    <div class = "box" id = "about">
        <div class = "box-h2">
            <h2>About</h2>
        </div>

        <div class = "box-p">
            <p>CookCraft is my second project created using frontend languages HTML, CSS, Javascript alongside with backend languages
                such as Java and MYSQL with a Java framework Spring Boot and Spring Security. This project is a new years resolution for myself. This project was started at January 1, 2025 -> present.
            </p>
        </div>
        <div class = "box-p">
            <p>CookCraft is a forum that allows registered users to create recipes for others to view.
                Users can also rate other user's recipes on a scale of 1 to 10. The recipe will be rated on the average. 
                The reviewer can also write down a comment on the user's recipe.
            </p>
        </div>
    </div>


    <div class = "box" id = "registration">
        <div class = "box-h2">
            <h2>Registration</h2>
        </div>

        <div class = "box-p">
            <p>To create an account, click the "sign up" button to create an account. If you already have an account, click on the "login" button.</p>
        </div>
    
        <div class = "btn-container">
            <a th:href = "@{register}" class = "btn" id = "sign-up">Sign Up</a>
            
            <a th:href = "@{login}" class = "btn" id = "login">Login</a>
        </div>
    </div>
    <footer><p>Andrew Ho, 2025</p></footer>
    <script src = "/javascript/navigation.js"></script>
</body>
</html>