<!DOCTYPE html>
<html lang = "en" xmlns = "http://www.thymeleaf.org">
<head>
    <link rel = "stylesheet" href = "css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <div class = "form_h1">
        <h1>Register Page</h1>
    </div>

    <!-- "@" is used for URL expression || Ex: "@{/url} the url is being connected to POST url in the Controller class."
        "$" is used for variable expression || Ex: ${userRequest.email} This is userRequest.email accessing
        "*" is used for object expression || Ex: *{email} This is email being sent to userRequest from th:object = "${userRequest}"
        -->
        
    <div class = "form_container">
        <!-- If the Username already exists within the database, use Thymeleaf to notify the client. -->
        <div class = "message" th:if = "${error}">
            <p th:text = "${error}"></p>
        </div>

        <div class = "message" th:if = "${success}">
            <p th:text = "${success}"></p>
        </div>

        <form th:action = "@{/register}" th:object = "${userRequest}" method = "post">
            <div class = "input_container">
                <input type = "text" id = "username" th:field = "*{username}" placeholder = "Username">
                <input type = "date" id = "dob" th:field = "*{dob}" name = "dob">
            </div>

            <div class = "input_container">
                <input type = "text" id = "fName" th:field = "*{fName}" placeholder = "First Name">
                <input type = "text" id = "lName" th:field = "*{lName}" placeholder = "Last Name">
            </div>
            
            <!-- May need to change input type to email instead of text. -->
            <div class = "input_container">
                <input type = "text" id = "email" th:field = "*{email}" placeholder = "Email">
                <input type = "password" id = "password" th:field = "*{password}" placeholder = "Password">
            </div>
            
            <div class = "input_container">
                <input type = "submit" class = "btn">
            </div>
        </form>

        <div class = "box_p"><p>Already have an account? <a th:href = "@{login}">Log In</a></p></div>
        <div class = "box_p"><a th:href = "@{/}">Go Back</a></div>
    </div>
</body>
</html>